@media (min-width: 1400px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .class-text ul li {
        width: 19.14%;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main-menu .navbar-brand {
        width: 170px;
    }
    .main-menu ul li a {
        font-size: 12px;
    }

    .about-text p {
        padding-bottom: 30px;
    }

    /* Team part start */
    #team-part {
        padding: 60px 0;
    }

    .team-people,
    .team-people:hover {
        transform: translateY(0);
        border: 1px solid #ddd;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .team-people p {
        transform: scale(1);
    }

    .team-people {
        margin-top: 30px;
    }

    /* Team part end */

    .membership-card h3 {
        padding: 15px 0;
        font-size: 40px;
    }

    .membership-card ul {
        margin: 15px 0;
    }

    .membership-card ul li {
        padding: 5px 0;
    }

    .class-text ul li {
        width: 18.85%;
        padding: 30px 0;
    }

    .class-text ul li p {
        font-size: 14px;
    }


    
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* Menu part start */
    .main-menu {
        background: #e23e38;
        top: 0px;
        padding: 0;
    }

    .main-menu .navbar-brand {
        width: 160px;
        height: 50px;
        padding-top: 0px;
    }

    .main-menu button i {
        color: #fff;
    }

    .main-menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main-menu #navbarNav {
        background: #e23e38;
        text-align: center;
        padding: 10px 0;
    }

    .main-menu .nav-link.active::after,
    .main-menu .nav-link::after {
        display: none;
    }

    .main-menu ul li a {
        line-height: 35px;
    }

    /* Menu part end */

    /* Banner part start */
    .banner-item {
        padding: 150px 0 90px;
    }

    .banner-item h2::before,
    .banner-item h2::after,
    .banner-item h1::before,
    .banner-item h1::after,
    .banner-item p::before,
    .banner-item p::after {
        display: none;
    }

    .banner-item h2 {
        font-size: 26px;
    }

    .banner-item h1 {
        font-size: 45px;
    }

    .banner-item p {
        line-height: 22px;
        padding: 0;
    }

    .banner-item a {
        font-size: 14px;
        padding: 8px 15px;
        margin: 20px 5px 0px 5px;
    }

    /* Banner part end */

    /* About part start */
    #about-part {
        padding: 53px 0;
    }

    .about-text p {
        text-align: justify;
        padding-bottom: 24px;
    }

    .about-text p span {
        margin-top: 12px;
    }

    /* About part end */

    /* Gallery part start */
    .gallery-banner {
        margin-top: 15px;
        padding: 30px 0 6px;
    }

    /* Gallery part end */

    /* Team part start */
    #team-part {
        padding: 60px 0;
    }

    .team-overlay-icon {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        background: rgba(226, 62, 56, 0.5);
    }

    .team-people,
    .team-people:hover {
        transform: translateY(0);
        border: 1px solid #ddd;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .team-people p {
        transform: scale(1);
    }

    .team-people {
        margin-top: 30px;
    }

    /* Team part end */

    /* Test part start */
    .test-pera p {
        text-align: justify;
    }

    .test-banner .slick-dots {
        bottom: -35px;
    }

    .test-banner {
        padding: 30px 0 65px;
    }

    /* Test part end */

    /* Member part start */
    #membership-part {
        padding: 50px 0;
    }

    .membership-card h3 {
        padding: 20px 0;
        font-size: 35px;
    }

    .membership-card ul {
        margin: 10px 0;
    }

    .membership-card ul li {
        padding: 5px 0;
    }


    .membership-card {
        margin-bottom: 15px;
    }

    /* Member part end */

    /* Counter part start */
    #counter-part {
        margin: 0px 0;
        padding: 30px 0;
    }

    .counter-text h2 {
        font-size: 30px;
    }

    .counter-text p {
        font-size: 14px;
    }

    /* Counter part end */

    /* Class part start */
    #ourClasses-part {
        padding: 50px 0;
    }

    .class-menu li {
        width: 33.33%;
        line-height: 40px;
        border-bottom: 1px solid #e23e38;
        border-top: 1px solid #e23e38;
    }

    .class-text ul li {
        width: 49.03%;
        padding: 20px 0;
    }

    .class-text ul li:nth-child(2),
    .class-text ul li:nth-child(4),
    .class-text ul li:nth-child(6),
    .class-text ul li:nth-child(8),
    .class-text ul li:nth-child(10) {
        margin-right: 0;
    }

    .class-text ul li:nth-child(5) {
        margin-right: 10px;
    }

    .class-text ul li p {
        font-size: 12px;
    }

    .class-text ul li:hover {
        box-shadow: 0 0 0 0 #e23e38;
    }

    #client-part {
        padding-bottom: 50px;
    }

    .class-menu {
        margin-bottom: 60px !important;
    }

    /* Class part end */

    /* Footer part start */
    #footer-part h2 {
        padding-bottom: 20px;
    }

    .footer-routine-time {
        padding-bottom: 24px;
    }

    .footer-twitter ul li {
        margin-bottom: 20px;
    }

    .footer-photo a {
        display: block;
    }

    /* Footer part end */
}

@media (max-width: 575.98px) {

    /* Menu part start */
    .main-menu {
        background: #e23e38;
        top: 0px;
        padding: 0;
    }

    .main-menu .navbar-brand {
        width: 160px;
        height: 50px;
        padding-top: 0px;
    }

    .main-menu button i {
        color: #fff;
    }

    .main-menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main-menu #navbarNav {
        background: #e23e38;
        text-align: center;
        padding: 10px 0;
    }

    .main-menu .nav-link.active::after,
    .main-menu .nav-link::after {
        display: none;
    }

    .main-menu ul li a {
        line-height: 35px;
    }

    /* Menu part end */

    /* Banner part start */
    .banner-item {
        padding: 110px 0 70px;
    }

    .banner-item h2::before,
    .banner-item h2::after,
    .banner-item h1::before,
    .banner-item h1::after,
    .banner-item p::before,
    .banner-item p::after {
        display: none;
    }

    .banner-item h2 {
        font-size: 22px;
    }

    .banner-item h1 {
        font-size: 35px;
    }

    .banner-item p {
        line-height: 22px;
        padding: 0;
    }

    .banner-item a {
        font-size: 14px;
        padding: 5px 10px;
        margin: 20px 5px 0px 5px;
    }

    /* Banner part end */

    /* About part start */
    #about-part {
        padding: 43px 0;
    }

    .about-text p {
        text-align: justify;
        padding-bottom: 24px;
    }

    .about-text p span {
        margin-top: 12px;
    }

    /* About part end */

    /* Gallery part start */
    .gallery-banner {
        margin-top: 15px;
        padding: 30px 0 6px;
    }

    /* Gallery part end */

    /* Team part start */
    #team-part {
        padding: 50px 0;
    }

    .team-overlay-icon {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        background: rgba(226, 62, 56, 0.5);
    }

    .team-people,
    .team-people:hover {
        transform: translateY(0);
        border: 1px solid #ddd;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .team-people p {
        transform: scale(1);
    }

    .team-people {
        margin-top: 30px;
    }

    /* Team part end */

    /* Test part start */
    .test-pera p {
        text-align: justify;
    }

    .test-banner .slick-dots {
        bottom: -35px;
    }

    .test-banner {
        padding: 30px 0 65px;
    }

    /* Test part end */

    /* Member part start */
    #membership-part {
        padding: 50px 0;
    }

    .membership-card h2 {
        font-size: 14px;
        padding: 10px 0;
    }

    .membership-card h3 {
        padding: 15px 0;
        font-size: 30px;
    }

    .membership-card ul {
        margin: 10px 0;
    }

    .membership-card ul li {
        padding: 5px 0;
    }

    .membership-card a {
        font-size: 14px;
        ;
    }

    .membership-card {
        margin-bottom: 15px;
    }

    /* Member part end */

    /* Counter part start */
    #counter-part {
        margin: 0px 0;
        padding: 30px 0;
    }

    .counter-text h2 {
        font-size: 20px;
    }

    .counter-text p {
        font-size: 13px;
    }

    /* Counter part end */

    /* Class part start */
    #ourClasses-part {
        padding: 50px 0;
    }

    .class-menu li {
        width: 33.33%;
        line-height: 35px;
        border-bottom: 1px solid #e23e38;
        border-top: 1px solid #e23e38;
    }

    .class-text ul li {
        width: 48.31%;
        padding: 20px 0;
    }

    .class-text ul li:nth-child(2),
    .class-text ul li:nth-child(4),
    .class-text ul li:nth-child(6),
    .class-text ul li:nth-child(8),
    .class-text ul li:nth-child(10) {
        margin-right: 0;
    }

    .class-text ul li:nth-child(5) {
        margin-right: 10px;
    }

    .class-text ul li p {
        font-size: 12px;
    }

    .class-text ul li:hover {
        box-shadow: 0 0 0 0 #e23e38;
    }

    #client-part {
        padding-bottom: 50px;
    }

    /* Class part end */

    /* Footer part start */
    #footer-part h2 {
        padding-bottom: 20px;
    }

    .footer-routine-time {
        padding-bottom: 24px;
    }

    .footer-twitter ul li {
        margin-bottom: 20px;
    }

    .footer-photo a {
        display: block;
    }

    /* Footer part end */


}