@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li{
    margin: 0;
    padding: 0;
}

:root {
    --hover: #e23e38;
}

/* ======================================================================
 Common css end
========================================================================*/


/* =====================================================================
Menu  css start
========================================================================*/
.main-menu {
    background: rgba(53, 53, 53, 0.25);
    height: 50px;
    left: 0;
    top: 30px;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.menu-fixing{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}
.main-menu .navbar-brand {
    width: 245px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    transform: skewX(-35deg);
    background: #313131;
}
.main-menu .navbar-brand:hover{
    transform: skewX(35deg);
    transition: all linear .5s;
}

.main-menu .navbar-brand img {
    transform: skewX(35deg);
}
.main-menu .navbar-brand:hover img {
    transform: skewX(-35deg);
}

.main-menu ul li a {
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    transition: all linear .3s;
    padding: 0 15px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.main-menu ul li a:hover {
    background: #fff;
    color: #000;
}

 .main-menu ul li a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #e23e38;
    transition: all linear .3s;
}


.main-menu ul li a:hover:after {
    width: 50%;
}
.main-menu .nav-link.active{
    background: #fff;
   color: #000;
   position: relative;
}

.main-menu .nav-link.active::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50%;
    background: #e23e38;
}
/* =====================================================================
Menu css end
========================================================================*/

/* =====================================================================
 Banner css start
========================================================================*/
.banner-item {
    padding: 254px 0 117px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
    text-align: center;
}

.banner-item::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner-item h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.banner-item h2::after {
    position: absolute;
    content: '';
    left: 0;
    top: 18px;
    height: 3px;
    width: 164px;
    background: var(--hover);
    border-radius: 0 0 10px 0;
}

.banner-item h2::before {
    position: absolute;
    content: '';
    right: 15px;
    top: 18px;
    height: 3px;
    width: 109px;
    background: var(--hover);
    border-radius: 0 0 0 10px;
}

.banner-item h1 {
    color: #e23e38;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.banner-item h1::after {
    position: absolute;
    content: '';
    left: 0;
    top: -15px;
    height: 196px;
    width: 3px;
    background: var(--hover);
}

.banner-item h1::before {
    position: absolute;
    content: '';
    right: 15px;
    top: -15px;
    height: 196px;
    width: 3px;
    background: var(--hover);
}

.banner-item p {
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    position: relative;
    padding: 0 30px;
}

.banner-item p::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -76px;
    height: 3px;
    width: 77px;
    background: var(--hover);
}

.banner-item p::before {
    position: absolute;
    content: '';
    right: 15px;
    bottom: -76px;
    height: 3px;
    width: 45px;
    background: var(--hover);
}

.banner-item a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: 'Owsald', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    background: var(--hover);
    border: 1px solid #e23e38;
    margin: 50px 15px 0 15px;
    transition: all linear .3s;
}

.banner-item .view-more {
    background: transparent;
    border-color: #fff;
}

.banner-item .view-more:hover {
    background: var(--hover);
    border-color: var(--hover);
}

#banner-part .slick-dots li button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 5px;
}

#banner-part .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#banner-part .slick-dots li.slick-active button {
    background: var(--hover);
    border-color: var(--hover);
}

/* =====================================================================
Banner css end
========================================================================*/


/* =====================================================================
About css start
========================================================================*/
#about-part {
    padding: 80px 0;
}

.about-video {
    position: relative;
}

.about-video .oerlay {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.about-video .oerlay a {
    position: absolute;
    width: 48px;
    height: 48px;
    background: var(--hover);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    color: black;
    transition: .3s;
}
.about-video .oerlay:hover a{
    background: #fff;
    color: var(--hover);
}


.about-text h2 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #222222;
}

.about-text img {
    margin-top: -10px;
}

.about-text p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    line-height: 24px;
    margin-top: 10px;
    width: 100%;
}

.about-text p span {
    display: block;
    margin-top: 20px;
}

/* =====================================================================
About css end
========================================================================*/


/* =====================================================================
Gallery css start
========================================================================*/
.gallery-banner {
    padding: 30px;
    background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.gallery-head h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #222222;
}

.gallery-banner::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.gallery-img {
    position: relative;
    margin-bottom: 24px;
}

.gallery-img .overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    border: 5px solid #fff;
    transform: scale(0);
    background: rgba(231, 42, 42, 0.411);
    transition: all linear .3s;
}

.gallery-img .overlay a {
    position: absolute;
    font-size: 30px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gallery-img:hover .overlay {
    transform: scale(1);
}
.vbox-figlio{
    position: relative;
}

/* =====================================================================
Gallery css end
========================================================================*/


/* =====================================================================
Team css start
========================================================================*/
#team-part {
    padding: 80px 0;
}
#team-part .card {
    border: 0;
}
.team-people {
    transition: all linear .3s;
    border: 1px solid transparent;
    margin-top: 70px;
}

.team-people p {
    transform: scale(0);
    transition: all linear .3s;
}

.team-people:hover p {
    transform: scale(1);
}

.team-people:hover {
    transform: translateY(-43px);
    border: 1px solid #ddd;

}

.team-img {
    position: relative;
}

.team-overlay-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    transform: scale(0);
    border: 5px solid #fff;
    transition: all linear .3s;
}

.team-img:hover .team-overlay-icon {
    background: rgba(226, 62, 56, 0.5);
    transform: scale(1);
}

.team-overlay-icon ul {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.team-overlay-icon ul li a {
    width: 30px;
    height: 30px;
    border: 1px solid #f1f1f1;
    color: #fff;
    text-align: center;
    transition: all linear .3s;
    margin-bottom: 10px;
}

.team-overlay-icon a:hover {
    color: #1da0f2;
    background: #fff;
}

.team-people .card-body h2 {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.team-people .card-body h4 {
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding: 5px 0;
}

.team-people .card-body p {
    color: #444;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;

}
/* =====================================================================
Team css end
========================================================================*/


/* =====================================================================
Testimonial css start
========================================================================*/
.test-banner {
    padding: 30px 0 80px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    background-attachment: fixed !important;
}

.test-banner::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.test-slider {
    --bs-gutter-x: 0rem;
}

.test-slider .slick-slide {
    margin-right: 24px;
}

.test-banner .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    width: auto;
}

#testimonial-part .slick-dots li button {
    font-size: 0;
    height: 16px;
    width: 16px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px;
    transition: all linear .2s;
}

#testimonial-part .slick-dots li.slick-active button {
    background: var(--hover);
    border-color: var(--hover);
}

.test-text h4 {
    font-size: 14px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.test-text h5 {
    font-size: 14px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #fff;
    margin: 3px 0;
}

.test-text a {
    color: var(--hover);
    font-size: 14px;
}

.test-pera p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ddd;
    line-height: 18px;
    margin-top: 5px;
}
/* =====================================================================
 Testimonial css end
========================================================================*/


/* =====================================================================
Membership css start
========================================================================*/
#membership-part {
    padding: 80px 0;
}

#membership-part .gallery-head {
    margin-bottom: 30px;
}

.membership-card {
    background: #f1f1f1;
    transition: all linear .3s;
}

.membership-card h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: #222;
    padding: 15px 0;
    text-transform: uppercase;
    background: #dddddd;
    transition: all linear .3s;
}

.membership-card h3 {
    padding: 30px 0;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: #222;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0;
    color: #fff;
    z-index: 1;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.membership-card h3 span {
    font-size: 16px;
}

.membership-card h3::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.membership-card ul {
    margin: 25px 0;
}

.membership-card ul li {
    padding: 8px 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
}

.membership-card a {
    font-size: 16px;
    font-weight: 400;
    display: block;
    font-family: 'Oswald', sans-serif;
    color: #222;
    background: #dddddd;
    padding: 8px 0;
    transition: all linear .3s;
    text-transform: uppercase;
}

.membership-title {
    background: #e23e38 !important;
    color: #fff !important;
}

.membership-card:hover h2 {
    background: #e23e38 !important;
    color: #fff;
}

.membership-card:hover a {
    background: #e23e38 ;
    color: #fff;
}
.membership-card a:hover {
    background: #0e0d0d !important;
    color: #fff;
}

/* =====================================================================
 Membership  css end
========================================================================*/

/* =====================================================================
 Counter   css start
========================================================================*/
#counter-part {
    position: relative;
    margin: 30px 0;
    padding: 40px 0;
    z-index: 1;
}

#counter-part::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.counter-text h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.counter-text p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}
.counter::first-letter{
    color: red;
}

/* =====================================================================
 Counter  css end
========================================================================*/


/* =====================================================================
 Class css start
========================================================================*/
#ourClasses-part {
    padding: 80px 0;
}

#ourClasses-part .row {
    --bs-gutter-x: 0rem !important;
}

#ourClasses-part .gallery-head {
    margin-bottom: 30px;
}

.class-menu {
    height: 50px;
    margin-bottom: 30px !important;
    text-align: center;
    padding: 0;
}

.class-menu li {
    width: 16.6681%;
    line-height: 50px;
    background: #f1f1f1;
    transition: all linear .3s;
}
.class-menu .nav-link:hover{
    background: var(--hover);
    color: #fff;
}
.class-menu .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #e23e38;
}

.class-menu li button {
    padding: 0;
    border-radius: 0 !important;
    width: 100%;
    transition: all linear .3s;
}

.class-text {
    padding: 0;
}

.class-text ul {
    display: flex;
    flex-wrap: wrap;
}

.class-text ul li {
    width: 19.29%;
    background: #f1f1f1;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 50px 0;
    transition: all linear .3s;
}

.class-text ul li p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.class-text ul li i {
    font-size: 35px !important;
}

.class-menu li button {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #222;
    text-transform: uppercase;
}

.class-text ul li:hover {
    background: #e23e38;
    color: #fff;
    box-shadow: 1px 1px 30px #e23e38;
    z-index: 99;
}

.class-text ul li:nth-child(5),
.class-text ul li:nth-child(10) {
    margin-right: 0;
}
/* =====================================================================
        css end
========================================================================*/


/* =====================================================================
        css start
========================================================================*/
#client-part {
    padding-bottom: 80px;
}

#client-part .row {
    --bs-gutter-x: 0rem !important;
}

.client-slider {
    position: relative;
}

.client-slider .fa-chevron-left {
    position: absolute;
    content: '';
    left: -30px;
    top: 50%;
    width: 30px;
    height: 30px;
    color: #444444;
    font-size: 28px;
    transform: translateY(-50%);
}

.client-slider .fa-chevron-right {
    position: absolute;
    content: '';
    right: -40px;
    top: 50%;
    width: 30px;
    height: 30px;
    color: #444444;
    font-size: 28px;
    transform: translateY(-50%);
}
/* =====================================================================
Class  css end
========================================================================*/

/* =====================================================================
Footer  css start
========================================================================*/

#footer-part {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
    color: #fff;
}

#footer-part::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

#footer-part p {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
    padding-bottom: 5px;
}

#footer-part h2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.footer-logo {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.footer-content {
    padding: 30px 0;
}

.footer-twitter ul li {
    margin-bottom: 30px;
}

.footer-twitter ul li i {
    float: left;
    font-size: 20px;
    color: #1da1f2;
    margin-top: 3px;
}

.footer-twitter ul li p {
    margin-left: 30px;
}

.footer-twitter ul li p span {
    display: block;
}

.footer-photo ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.footer-photo ul li {
    width: 25%;
}

.footer-photo ul li img {
    padding: 0 10px 10px 0;
    width: 100%;
    max-width: 100%;
}

.footer-address ul li i {
    float: left;
    font-size: 13px;
    color: var(--hover);
    margin-top: 5px;
}

.footer-address ul li p {
    margin-left: 20px;
}

.get-social ul {
    display: flex;
    text-align: center;
}

.get-social h3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin: 25px 0 30px 0;
    text-transform: uppercase;
}

.get-social ul li {
    margin-right: 10px;
}

.get-social ul li a {
    border: 1px solid #fff;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    transition: all linear .3s;
}

.get-social ul li a:hover {
    background: var(--hover);
    border-color: var(--hover);
}

.copywrite-text {
    border-top: 1px solid #ddd;
    padding: 15px 0;
}

.copywrite-text p {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.copywrite-text p span {
    color: var(--hover);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}
/* =======================================================
 Footer  css end
==========================================================*/


/* =====================================================
Back to top button start 
========================================================*/
.btop-btn{
    height: 40px;
    width: 40px;
    background: #f02f28;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 8px;
    z-index: 999;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
/* =====================================================
Back to top button end 
========================================================*/